html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

/* nav bar */
.navbar {
  padding: 0 4vw;
  position: fixed;
  top: 0;
  width: 92vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  z-index: 1000;
  border-bottom: 0.2vh solid #F5F5F5;
}
.navbar .navbar__logo {
  font-weight: 700;
  color: #14BD7E;
}
.navbar .navbar__btns span {
  font-size: 1rem;
  color: #14BD7E;
  padding: 0 0.5vw;
  font-weight: 600;
}
.navbar .navbar__btns span:nth-child(2n+1) {
  cursor: pointer;
}

/* main */
.main {
  height: 90vh;
  margin-top: 10vh;
  position: relative;
}
.main .main__ForMap {
  margin-top: auto;
  display: flex;
  flex-direction: row;
}
.main .main__ForMap .main__SideSearchBar {
  z-index: 3;
  display: flex;
  flex-direction: row;
  transition: 0.4s;
  transition-timing-function: linear;
  width: 22vw;
  height: 82vh;
  background-color: white;
  border: 2px solid green;
  border-radius: 0 5px 5px 0;
  box-sizing: border-box;
}
.main .main__ForMap .main__SideSearchBar .main__SearchOption {
  width: 2vw;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
.main .main__ForMap .main__SideSearchBar .main__SearchOption .main__SearchFromCurrentLocation {
  display: flex;
  margin-top: 3vh;
  height: 5vh;
  background-color: #14BD7E;
  box-shadow: 1px 0 3px -1px black;
  transition: 0.4s;
  transition-timing-function: linear;
  align-items: center;
  justify-content: center;
}
.main .main__ForMap .main__SideSearchBar .main__SearchOption .main__SearchFromCurrentLocation #Option1 {
  transition: 0.5s;
  transition-timing-function: linear;
}
.main .main__ForMap .main__SideSearchBar .main__SearchOption .main__SearchFromRoute {
  display: flex;
  width: 1.3vw;
  height: 4.6vh;
  background-color: white;
  box-shadow: 1px 0 2px -1px;
  transition: 0.4s;
  transition-timing-function: linear;
  align-items: center;
  justify-content: center;
}
.main .main__ForMap .main__SideSearchBar .main__SearchOption .main__SearchFromRoute #Option2 {
  transition: 0.5s;
  transition-timing-function: linear;
}
.main .main__ForMap .main__SideSearchBar .main__InputandResultinSearchBar {
  width: 19vw;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.main .main__ForMap .main__SideSearchBar .main__InputandResultinSearchBar .main__CurrentLocation {
  width: 6vw;
  height: 3vh;
  margin-left: 2vw;
  margin-top: 3vh;
  background-color: #14BD7E;
  color: white;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  line-height: 3vh;
}
.main .main__ForMap .main__SideSearchBar .main__InputandResultinSearchBar .main__CurrentLocationAddress {
  background-color: white;
  border: 2px solid #14BD7E;
  border-radius: 5px;
  width: 15vw;
  height: 4vh;
  margin-left: 2vw;
  margin-top: 2vh;
  font-size: 13px;
  padding-top: 3px;
}
.main .main__ForMap .main__SideSearchBar .main__InputandResultinSearchBar .main__SearchOptionButtonGroup {
  background-color: white;
  width: 15vw;
  height: 3vh;
  margin-left: 2vw;
  margin-top: 2vh;
}
.main .main__ForMap .main__SideSearchBar .main__InputandResultinSearchBar .main__SearchOptionButtonGroup #sort_HH {
  box-sizing: border-box;
  width: 4.5vw;
  height: 3vh;
  border: 1px solid #14BD7E;
  border-radius: 5px;
  margin: 0;
  background-color: rgba(20, 189, 114, 0.5);
  opacity: 1;
}
.main .main__ForMap .main__SideSearchBar .main__InputandResultinSearchBar .main__SearchOptionButtonGroup #sort_GG {
  box-sizing: border-box;
  width: 4.5vw;
  height: 3vh;
  border: 1px solid #14BD7E;
  border-radius: 5px;
  margin: 0;
  background-color: rgba(20, 189, 114, 0.5);
  opacity: 0.5;
}
.main .main__ForMap .main__SideSearchBar .main__InputandResultinSearchBar .main__SearchOptionButtonGroup #sort_LL {
  box-sizing: border-box;
  width: 4.5vw;
  height: 3vh;
  border: 1px solid #14BD7E;
  border-radius: 5px;
  margin: 0;
  background-color: rgba(20, 189, 114, 0.5);
  opacity: 0.5;
}
.main .main__ForMap .main__SideSearchBar .main__InputandResultinSearchBar .main__SearchResult {
  border: 2px solid #14BD7E;
  border-radius: 5px;
  width: 15vw;
  height: 59vh;
  margin-left: 2vw;
  margin-top: 3vh;
  background-color: white;
  padding: 0;
}
.main .main__ForMap .main__SearchBarHideButton {
  display: flex;
  z-index: 3;
  border: 3px solid lightgreen;
  border-radius: 0 5px 5px 0;
  border-left: none;
  width: 20px;
  height: 40px;
  margin-top: 20vh;
  margin-right: auto;
  background-color: white;
  align-items: center;
  justify-content: center;
}
.main .main__ForMap .main__MapDiv {
  z-index: 2;
  position: absolute;
  background-color: #14BD7E;
  width: 100vw;
  height: 82vh;
}
.main .main__ForMap #main__btn_select {
  z-index: 5;
  position: absolute;
  width: 60px;
  height: 35px;
  right: 36vw;
  top: 74vh;
  background-color: green;
  color: white;
  font-size: 11px;
  border-radius: 5px;
}

#searchResultTitle {
  font-size: 16px;
  font-weight: bold;
  line-height: 2vh;
  overflow: scroll;
}

.GasStationLogo {
  width: 28px;
  height: 28px;
}

.ResultContents {
  color: grey;
}/*# sourceMappingURL=style.css.map */