/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* nav bar */
.navbar {
  padding: 0 4vw;
  position: fixed;
  top: 0;
  width: 92vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  z-index: 1000;
  border-bottom: 0.2vh solid #F5F5F5;
}
.navbar .navbar__logo {
  font-weight: 700;
  color: #14BD7E;
}
.navbar .navbar__logo a {
  color: #14BD7E;
}
.navbar .navbar__logo a:visited {
  color: #14BD7E;
}
.navbar .navbar__btns a {
  font-size: 1rem;
  color: #14BD72;
  font-weight: 600;
}
.navbar .navbar__btns a:visited {
  font-size: 1rem;
  color: #14BD72;
  font-weight: 600;
}
.navbar .navbar__btns span {
  font-size: 1rem;
  color: #14BD7E;
  padding: 0 0.5vw;
  font-weight: 600;
}
.navbar .navbar__btns span:nth-child(2n) {
  cursor: pointer;
}

/* explain animation */
@-webkit-keyframes fade01 {
  0% {
    opacity: 0;
  }
  1.6% {
    opacity: 0.1;
  }
  4.8% {
    opacity: 0.3;
  }
  8% {
    opacity: 0.5;
  }
  11.2% {
    opacity: 0.7;
  }
  14.4% {
    opacity: 0.9;
  }
  16% {
    opacity: 1;
  }
  17.6% {
    opacity: 0.9;
  }
  20.8% {
    opacity: 0.7;
  }
  24.0% {
    opacity: 0.5;
  }
  27.2% {
    opacity: 0.3;
  }
  30.4% {
    opacity: 0.1;
  }
  33% {
    opacity: 0;
  }
}
@keyframes fade01 {
  0% {
    opacity: 0;
  }
  1.6% {
    opacity: 0.1;
  }
  4.8% {
    opacity: 0.3;
  }
  8% {
    opacity: 0.5;
  }
  11.2% {
    opacity: 0.7;
  }
  14.4% {
    opacity: 0.9;
  }
  16% {
    opacity: 1;
  }
  17.6% {
    opacity: 0.9;
  }
  20.8% {
    opacity: 0.7;
  }
  24.0% {
    opacity: 0.5;
  }
  27.2% {
    opacity: 0.3;
  }
  30.4% {
    opacity: 0.1;
  }
  33% {
    opacity: 0;
  }
}
@-webkit-keyframes fade02 {
  33% {
    opacity: 0;
  }
  35% {
    opacity: 0.125;
  }
  37% {
    opacity: 0.25;
  }
  39% {
    opacity: 0.375;
  }
  41% {
    opacity: 0.5;
  }
  43% {
    opacity: 0.675;
  }
  45% {
    opacity: 0.75;
  }
  47% {
    opacity: 0.875;
  }
  49% {
    opacity: 1;
  }
  52% {
    opacity: 0.875;
  }
  54% {
    opacity: 0.75;
  }
  56% {
    opacity: 0.675;
  }
  58% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.375;
  }
  62% {
    opacity: 0.25;
  }
  66% {
    opacity: 0;
  }
}
@keyframes fade02 {
  33% {
    opacity: 0;
  }
  35% {
    opacity: 0.125;
  }
  37% {
    opacity: 0.25;
  }
  39% {
    opacity: 0.375;
  }
  41% {
    opacity: 0.5;
  }
  43% {
    opacity: 0.675;
  }
  45% {
    opacity: 0.75;
  }
  47% {
    opacity: 0.875;
  }
  49% {
    opacity: 1;
  }
  52% {
    opacity: 0.875;
  }
  54% {
    opacity: 0.75;
  }
  56% {
    opacity: 0.675;
  }
  58% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.375;
  }
  62% {
    opacity: 0.25;
  }
  66% {
    opacity: 0;
  }
}
@-webkit-keyframes fade03 {
  67% {
    opacity: 0;
  }
  70% {
    opacity: 0.125;
  }
  73% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.375;
  }
  78% {
    opacity: 0.5;
  }
  81% {
    opacity: 0.675;
  }
  83% {
    opacity: 0.75;
  }
  85% {
    opacity: 0.875;
  }
  87% {
    opacity: 1;
  }
  89% {
    opacity: 0.875;
  }
  91% {
    opacity: 0.75;
  }
  93% {
    opacity: 0.675;
  }
  94% {
    opacity: 0.5;
  }
  96% {
    opacity: 0.375;
  }
  98% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade03 {
  67% {
    opacity: 0;
  }
  70% {
    opacity: 0.125;
  }
  73% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.375;
  }
  78% {
    opacity: 0.5;
  }
  81% {
    opacity: 0.675;
  }
  83% {
    opacity: 0.75;
  }
  85% {
    opacity: 0.875;
  }
  87% {
    opacity: 1;
  }
  89% {
    opacity: 0.875;
  }
  91% {
    opacity: 0.75;
  }
  93% {
    opacity: 0.675;
  }
  94% {
    opacity: 0.5;
  }
  96% {
    opacity: 0.375;
  }
  98% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.05;
  }
  10% {
    opacity: 0.1;
  }
  15% {
    opacity: 0.15;
  }
  20% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.25;
  }
  30% {
    opacity: 0.3;
  }
  35% {
    opacity: 0.35;
  }
  40% {
    opacity: 0.4;
  }
  45% {
    opacity: 0.45;
  }
  50% {
    opacity: 0.5;
  }
  55% {
    opacity: 0.55;
  }
  60% {
    opacity: 0.6;
  }
  65% {
    opacity: 0.65;
  }
  70% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.75;
  }
  80% {
    opacity: 0.8;
  }
  85% {
    opacity: 0.85;
  }
  90% {
    opacity: 0.9;
  }
  95% {
    opacity: 0.95;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.05;
  }
  10% {
    opacity: 0.1;
  }
  15% {
    opacity: 0.15;
  }
  20% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.25;
  }
  30% {
    opacity: 0.3;
  }
  35% {
    opacity: 0.35;
  }
  40% {
    opacity: 0.4;
  }
  45% {
    opacity: 0.45;
  }
  50% {
    opacity: 0.5;
  }
  55% {
    opacity: 0.55;
  }
  60% {
    opacity: 0.6;
  }
  65% {
    opacity: 0.65;
  }
  70% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.75;
  }
  80% {
    opacity: 0.8;
  }
  85% {
    opacity: 0.85;
  }
  90% {
    opacity: 0.9;
  }
  95% {
    opacity: 0.95;
  }
  100% {
    opacity: 1;
  }
}
/* main */
.main {
  height: 90vh;
  margin-top: 10vh;
  position: relative;
}
.main img.chatBotArea__img {
  transition: 0.5s;
  position: fixed;
  width: 3vw;
  cursor: pointer;
  color: #14BD7E;
  left: 2vw;
  bottom: 2vw;
}
.main img.chatBotArea__img:hover {
  bottom: 2.5vw;
}
.main .chatBotArea {
  transition: 1s;
  border-radius: 2vh;
  padding: 2vh;
  position: fixed;
  left: 2vw;
  bottom: 2vw;
  width: 30vw;
  height: 60vh;
  z-index: 1;
  opacity: 0;
  color: #ECECEC;
  background-color: #ECECEC;
}
.main .chatBotArea .chatBotArea__profile {
  transition: 0.5;
  height: 5vh;
  margin: 0 0 1.5vh;
  padding: 0.5vh 0;
  transition: 0.5s;
  background-color: #14BD7E;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vh;
}
.main .chatBotArea .chatBotArea__profile img {
  transition: 0.5s;
  height: 5vh;
  margin-top: 0.5vh;
}
.main .chatBotArea .chatBotArea__profile img:hover {
  margin-top: -1vh;
}
.main .chatBotArea .chatBotArea__profile span {
  width: 90%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.main .chatBotArea .chatBotArea__closeArea {
  padding: 0.75vh 1.5vw;
  height: 1.5vh;
  display: flex;
  justify-content: right;
  align-items: center;
}
.main .chatBotArea .chatBotArea__closeArea .chatBotArea__closeBtn {
  position: absolute;
  width: 1vw;
  cursor: pointer;
  margin-bottom: 1vw;
  margin-right: -1vw;
  color: #14BD7E;
}
.main .chatBotArea .chatBotArea__chat {
  margin: 1.5vh 0;
  padding: 0.5vh 1.5vw;
  height: 5vh;
  background-color: #14BD7E;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 2vh;
}
.main .chatBotArea .chatBotArea__chat span {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
}
.main section.explainArea#explainArea--1 {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-name: fade01;
          animation-name: fade01;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0;
}
.main section.explainArea#explainArea--1 div.explainArea__text {
  position: absolute;
  top: 50vh;
  left: 25vw;
  transition: 1s;
}
.main section.explainArea#explainArea--1 div.explainArea__text h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2vh;
}
.main section.explainArea#explainArea--1 div.explainArea__text h2 {
  font-size: 1rem;
  font-weight: 500;
  color: #666666;
}
.main section.explainArea#explainArea--1 img.explainArea__phone {
  transition: 0.5s;
  position: absolute;
  height: 55vh;
  top: 30vh;
  right: 25vw;
}
.main section.explainArea#explainArea--2 {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-name: fade02;
          animation-name: fade02;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0;
}
.main section.explainArea#explainArea--2 div.explainArea__text {
  position: absolute;
  top: 50vh;
  right: 25vw;
  transition: 1s;
}
.main section.explainArea#explainArea--2 div.explainArea__text h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2vh;
}
.main section.explainArea#explainArea--2 div.explainArea__text h2 {
  font-size: 1rem;
  font-weight: 500;
  color: #666666;
}
.main section.explainArea#explainArea--2 img.explainArea__phone {
  position: absolute;
  height: 55vh;
  top: 30vh;
  left: 25vw;
  transition: 0.5s;
}
.main section.explainArea#explainArea--3 {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-name: fade03;
          animation-name: fade03;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0;
}
.main section.explainArea#explainArea--3 div.explainArea__text {
  position: absolute;
  top: 50vh;
  left: 25vw;
  transition: 1s;
}
.main section.explainArea#explainArea--3 div.explainArea__text h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2vh;
}
.main section.explainArea#explainArea--3 div.explainArea__text h2 {
  font-size: 1rem;
  font-weight: 500;
  color: #666666;
}
.main section.explainArea#explainArea--3 img.explainArea__phone {
  position: absolute;
  height: 55vh;
  top: 30vh;
  right: 25vw;
  transition: 0.5s;
}

/* search bar */
.searchBar {
  padding: 3vh 0;
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  border-bottom: 0.2vh solid #f5f5f5;
}
.searchBar .searchBar__left {
  width: 45vw;
  height: 20vh;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #14BD72;
  box-shadow: 0 0.5vh 4vh 0 #F5F5F5;
  cursor: pointer;
}
.searchBar .searchBar__left:hover {
  outline: 0.1vh solid #14BD72;
}
.searchBar .searchBar__left:hover svg {
  margin-bottom: 5.2vh;
}
.searchBar .searchBar__left svg {
  transition: 0.5s;
  margin-bottom: 4vh;
  width: 2.5vw;
}
.searchBar .searchBar__left h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}
.searchBar .searchBar__right {
  width: 45vw;
  height: 20vh;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #14BD72;
  box-shadow: 0 0.5vh 4vh 0 #F5F5F5;
  cursor: pointer;
}
.searchBar .searchBar__right:hover {
  outline: 0.1vh solid #14BD72;
}
.searchBar .searchBar__right:hover svg {
  margin-bottom: 5.2vh;
}
.searchBar .searchBar__right svg {
  transition: 0.5s;
  margin-bottom: 4vh;
  width: 2.5vw;
}
.searchBar .searchBar__right h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

/* login Area */
.loginArea {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.loginArea .loginArea__backGround {
  background-color: #FCFCFE;
  height: 100%;
  width: 20%;
  margin: 0 auto;
}
.loginArea .loginArea__backGround .loginArea__frame {
  height: 50%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #14BD7E;
  background-color: #fff;
}
.loginArea .loginArea__backGround .loginArea__frame h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  color: #14BD7E;
  font-weight: 700;
  margin: 2vh 0 5vh 0;
}
.loginArea .loginArea__backGround .loginArea__frame input {
  color: #14BD7E;
  background-color: #FAFAFB;
  font-size: 1.2rem;
  text-align: center;
  padding: 2vh 0;
  font-weight: 600;
}
.loginArea .loginArea__backGround .loginArea__frame input::-moz-placeholder {
  color: #D5DDE6;
}
.loginArea .loginArea__backGround .loginArea__frame input:-ms-input-placeholder {
  color: #D5DDE6;
}
.loginArea .loginArea__backGround .loginArea__frame input::placeholder {
  color: #D5DDE6;
}
.loginArea .loginArea__backGround .loginArea__frame button {
  padding: 2vh 0;
  color: #fff;
  background-color: #14BD7E;
  font-size: 1.2rem;
  font-weight: 700;
}
.loginArea .loginArea__backGround .loginArea__frame button a:visited {
  color: #14BD7E;
}
.loginArea .loginArea__backGround .loginArea__frame label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.loginArea .loginArea__backGround .loginArea__frame label span {
  font-size: 1.2rem;
  color: #B6B2B2;
  font-weight: 500;
  flex-grow: 2;
}
.loginArea .loginArea__backGround .loginArea__frame label button {
  color: #14BD7E;
  background-color: rgba(0, 0, 0, 0);
  flex-grow: 8;
  font-size: 1.2rem;
}

/* register Area */
.registerArea {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.registerArea .registerArea__backGround {
  background-color: #FCFCFE;
  height: 100%;
  width: 20%;
  margin: 0 auto;
}
.registerArea .registerArea__backGround .registerArea__frame {
  height: 90%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #14BD7E;
}
.registerArea .registerArea__backGround .registerArea__frame button {
  padding: 2vh 0;
  color: #fff;
  background-color: #14BD7E;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.5vh;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__termOfUse {
  height: 40%;
  margin: 0 auto 1vh;
  width: 95%;
  border-radius: 0.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #000;
  padding: 1vh 0.5vw 0;
  outline: 0.2vh solid #14BD72;
  box-shadow: 0.2vw 0.2vh 0.5vw 0 gray;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__termOfUse h2 {
  font-size: 1.5rem;
  font-weight: 700;
  height: 15%;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__termOfUse p {
  border-radius: 0.5vh;
  width: 90%;
  height: 60%;
  padding: 0.5vh 1vw;
  font-size: 0.8rem;
  overflow-y: scroll;
  background-color: #ECECEC;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__termOfUse .registerArea__btnBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 20%;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__termOfUse .registerArea__btnBox .registerArea__termOfUseContentBtn {
  background-color: #9CE0C2;
  font-size: 0.6rem;
  padding: 0.5vh 0.5vw;
  width: 50%;
  border-radius: 0.5vh;
  margin-right: 0.8vw;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__termOfUse .registerArea__btnBox .registerArea__termOfUseContentBtn:hover {
  background-color: #14BD7E;
}
.registerArea .registerArea__backGround .registerArea__frame h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  color: #14BD7E;
  font-weight: 700;
  margin: 2vh 0 5vh 0;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__dropDownArea {
  display: flex;
  justify-content: space-between;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__dropDownArea select {
  font-weight: 600;
  border: none;
  padding: 2vh 0;
  font-size: 1.1rem;
  width: 50%;
  background-color: #14BD7E;
  color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  text-align: center;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__dropDownArea select:nth-child(1) {
  background-color: #80E3C3;
  border-radius: 0.5vh 0 0 0.5vh;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__dropDownArea select:nth-child(2) {
  border-radius: 0 0.5vh 0.5vh 0;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__dropDownArea select:focus {
  outline: none;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__IDArea {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__IDArea button {
  padding: 2vh 0.5vw;
  color: #fff;
  background-color: #14BD7E;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5vh;
}
.registerArea .registerArea__backGround .registerArea__frame input {
  color: #14BD7E;
  background-color: #FAFAFB;
  font-size: 1.2rem;
  text-align: center;
  padding: 2vh 0;
  font-weight: 600;
  border-radius: 0.5vh;
}
.registerArea .registerArea__backGround .registerArea__frame input::-moz-placeholder {
  color: #D5DDE6;
}
.registerArea .registerArea__backGround .registerArea__frame input:-ms-input-placeholder {
  color: #D5DDE6;
}
.registerArea .registerArea__backGround .registerArea__frame input::placeholder {
  color: #D5DDE6;
}
.registerArea .registerArea__backGround .registerArea__frame input:focus {
  outline: 0.2vh solid #14BD7E;
}
.registerArea .registerArea__backGround .registerArea__frame label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.registerArea .registerArea__backGround .registerArea__frame label span {
  font-size: 1.2rem;
  color: #B6B2B2;
  font-weight: 500;
  flex-grow: 2;
}
.registerArea .registerArea__backGround .registerArea__frame label button {
  color: #14BD7E;
  background-color: rgba(0, 0, 0, 0);
  flex-grow: 8;
  font-size: 1.2rem;
}

/* my page oil info */
.oilInfoArea {
  width: 100%;
  height: 100%;
}
.oilInfoArea .oilInfoArea__background {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__tabArea {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: flex-end;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__tabArea .oilInfoArea__tab {
  height: 80%;
  width: 12%;
  border-radius: 1vh 1vh 0 0;
  background-color: #14BD7E;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  border: 0.05vh solid #FAFAFB;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__tabArea .oilInfoArea__tab a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__tabArea .oilInfoArea__tab a:visited {
  color: #fff;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__tabArea .oilInfoArea__tab.oilInfoArea__choosedTab {
  color: #000;
  height: 90%;
  font-size: 1.2rem;
  margin: 0 -0.25vw;
  background-color: #fff;
  box-shadow: 0 -0.5vh 0.5vw 0 #D4D4D4;
  z-index: 3;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__tabArea .oilInfoArea__tab.oilInfoArea__choosedTab a {
  color: #000;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__tabArea .oilInfoArea__tab.oilInfoArea__choosedTab a:visited {
  color: #000;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea {
  width: 100%;
  height: 80%;
  box-shadow: 0 0.5vh 1vw 0 #D4D4D4;
  border-radius: 0 1.5vh 0 0;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentTitle {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1vw;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentTitle svg {
  margin-right: 1vw;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentTitle span {
  font-weight: 700;
  font-size: 2rem;
  color: #14BD7E;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody {
  height: 55%;
  display: flex;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__inputBox {
  width: 50%;
  height: 100%;
  padding: 0 1vw;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__inputBox input {
  width: 90%;
  margin-bottom: 4vh;
  font-size: 1.5rem;
  background-color: #FAFAFB;
  color: #14BD7E;
  padding: 1vh 0.5vw;
  font-weight: 600;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__inputBox input ::-moz-placeholder {
  color: #D5DDE6;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__inputBox input :-ms-input-placeholder {
  color: #D5DDE6;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__inputBox input ::placeholder {
  color: #D5DDE6;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__inputBox input:focus {
  outline: 0.2vh solid #14BD7E;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__effectBox {
  width: 50%;
  height: 100%;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__effectBox .oilInfoArea__effectBoxBackGround {
  width: 80%;
  height: 80%;
  color: #D5DDE6;
  background-color: #FAFAFB;
  display: flex;
  justify-content: center;
  align-items: center;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__effectBox .oilInfoArea__effectBoxBackGround span {
  font-weight: 700;
  font-size: 2rem;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea {
  width: 100%;
  height: 100%;
  padding: 1vw 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea .oilInfoArea__compareTitle {
  padding-bottom: 2vh;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 2vh;
  border-radius: 0.2vh;
  width: 85%;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea .oilInfoArea__compareTitle span {
  font-weight: 700;
  font-size: 1.8rem;
  color: #14BD7E;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea .oilInfoArea__compareContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea .oilInfoArea__compareContent .oilInfoArea__compareMyBox {
  width: 30%;
  padding: 2vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 2vh;
  outline: 0.2vh solid #F2F2F2;
  box-shadow: 0.25vw -0.25vh 0 0 #F2F2F2;
  transition: 0.5s;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea .oilInfoArea__compareContent .oilInfoArea__compareMyBox:hover {
  margin-top: -0.5vh;
  margin-bottom: 0.5vh;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea .oilInfoArea__compareContent .oilInfoArea__compareMyBox h1, .oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea .oilInfoArea__compareContent .oilInfoArea__compareMyBox h3 {
  font-weight: 500;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea .oilInfoArea__compareContent .oilInfoArea__compareMyBox h1 {
  font-size: 1.5rem;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea .oilInfoArea__compareContent .oilInfoArea__compareMyBox h3 {
  font-size: 1.2rem;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea .oilInfoArea__compareContent .oilInfoArea__compareMyBox h3 span {
  font-size: 1.4rem;
  font-weight: 700;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea .oilInfoArea__compareContent .oilInfoArea__compareCommonBox {
  width: 30%;
  padding: 2vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 2vh;
  outline: 0.2vh solid #F2F2F2;
  box-shadow: 0.25vw -0.25vh 0 0 #F2F2F2;
  transition: 0.5s;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea .oilInfoArea__compareContent .oilInfoArea__compareCommonBox h1, .oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea .oilInfoArea__compareContent .oilInfoArea__compareCommonBox h3 {
  font-weight: 500;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea .oilInfoArea__compareContent .oilInfoArea__compareCommonBox h1 {
  font-size: 1.5rem;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea .oilInfoArea__compareContent .oilInfoArea__compareCommonBox h3 {
  font-size: 1.2rem;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea .oilInfoArea__compareContent .oilInfoArea__compareCommonBox h3 span {
  font-size: 1.4rem;
  font-weight: 700;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea .oilInfoArea__compareContent .oilInfoArea__compareCommonBox:hover {
  margin-top: -0.5vh;
  margin-bottom: 0.5vh;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea .oilInfoArea__compareContent .oilInfoArea__compareImgBox {
  width: 30%;
  padding: 2vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2vh;
  outline: 0.2vh solid #F2F2F2;
  box-shadow: 0.25vw -0.25vh 0 0 #F2F2F2;
  transition: 0.5s;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__contentBody .oilInfoArea__compareArea .oilInfoArea__compareContent .oilInfoArea__compareImgBox:hover {
  margin-top: -0.5vh;
  margin-bottom: 0.5vh;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileTitleBox {
  margin: 0 auto;
  padding: 0 2vw;
  width: 90%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 2vh;
  box-shadow: 0vw 0.5vh 0.5vw 0 #D4D4D4;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileTitleBox h2 {
  width: 10%;
  color: #14BD7E;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileTitleBox span {
  font-size: 1.5rem;
  font-weight: 600;
  width: 90%;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileContentBox {
  margin: 0 auto;
  padding: 0 2vw;
  width: 90%;
  height: 50%;
  border-radius: 2vh;
  box-shadow: 0vw 0.5vh 0.5vw 0 #D4D4D4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileContentBox .oilInfoArea__profileContentBox--gender {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileContentBox .oilInfoArea__profileContentBox--gender h2 {
  width: 10%;
  color: #14BD7E;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileContentBox .oilInfoArea__profileContentBox--gender .oilInfoArea__inputBoxArea--gender {
  width: 90%;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileContentBox .oilInfoArea__profileContentBox--gender .oilInfoArea__inputBoxArea--gender input[type=radio] {
  width: 40%;
  height: 20%;
  display: none;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileContentBox .oilInfoArea__profileContentBox--gender .oilInfoArea__inputBoxArea--gender input[type=radio] + label {
  cursor: pointer;
  padding: 1vh 1.5vw;
  transition: 0.5s;
  color: #fff;
  background-color: #80e3c3;
  margin-left: -0.5vw;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileContentBox .oilInfoArea__profileContentBox--gender .oilInfoArea__inputBoxArea--gender input[type=radio]:checked + label {
  background-color: #14BD7E;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileContentBox .oilInfoArea__profileContentBox--gender .oilInfoArea__inputBoxArea--gender label:nth-child(2) {
  border-radius: 0.5vh 0 0 0.5vh;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileContentBox .oilInfoArea__profileContentBox--gender .oilInfoArea__inputBoxArea--gender label:nth-child(4) {
  border-radius: 0 0.5vh 0.5vh 0;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileContentBox .oilInfoArea__profileContentBox--age {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileContentBox .oilInfoArea__profileContentBox--age h2 {
  width: 10%;
  color: #14BD7E;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileContentBox .oilInfoArea__profileContentBox--age .oilInfoArea__inputBoxArea--age {
  width: 90%;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileContentBox .oilInfoArea__profileContentBox--age .oilInfoArea__inputBoxArea--age {
  width: 90%;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileContentBox .oilInfoArea__profileContentBox--age .oilInfoArea__inputBoxArea--age input[type=radio] {
  width: 40%;
  height: 20%;
  display: none;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileContentBox .oilInfoArea__profileContentBox--age .oilInfoArea__inputBoxArea--age input[type=radio] + label {
  cursor: pointer;
  padding: 1vh 1.5vw;
  transition: 0.5s;
  color: #fff;
  background-color: #80e3c3;
  margin-left: -0.5vw;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileContentBox .oilInfoArea__profileContentBox--age .oilInfoArea__inputBoxArea--age input[type=radio]:checked + label {
  background-color: #14BD7E;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileContentBox .oilInfoArea__profileContentBox--age .oilInfoArea__inputBoxArea--age label:nth-child(2) {
  border-radius: 0.5vh 0 0 0.5vh;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileContentBox .oilInfoArea__profileContentBox--age .oilInfoArea__inputBoxArea--age label:nth-child(10) {
  border-radius: 0 0.5vh 0.5vh 0;
  padding: 0;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileBtnBox {
  margin: 0 auto;
  padding: 0 2vw;
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileBtnBox button {
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.5vh;
  width: 12%;
  height: 50%;
  margin: 0.2vh 0.5vw;
  outline: none;
  transition: 0.01s;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileBtnBox button:nth-child(1) {
  background-color: #F1F1F1;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileBtnBox button:nth-child(1):hover {
  font-size: 1.05rem;
  outline: 0.2vh solid #F1F1F1;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileBtnBox button:nth-child(2) {
  color: #fff;
  background-color: #14BD7E;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__profileContainer .oilInfoArea__profileBtnBox button:nth-child(2):hover {
  font-size: 1.05rem;
  outline: 0.2vh solid #14BD7E;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__oilHistoryContainer {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__oilHistoryContainer .oilInfoArea__oilHistorytitle {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__oilHistoryContainer .oilInfoArea__oilHistorytitle h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  background-color: #14BD7E;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  border-radius: 0.5vh;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__oilHistoryContainer .oilInfoArea__oilHistoryTable {
  width: 80%;
  margin: 0 auto;
  height: 65%;
  text-align: center;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__oilHistoryContainer .oilInfoArea__oilHistoryTable tbody tr {
  padding: 0.5vh 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  border-bottom: 1px solid #F5F5F5;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__oilHistoryContainer .oilInfoArea__oilHistoryTable tbody tr img {
  width: 90%;
  height: 90%;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__oilHistoryContainer .oilInfoArea__oilHistoryTable tbody tr:nth-child(2n+1) :last-child {
  color: #3181F6;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__oilHistoryContainer .oilInfoArea__oilHistoryTable tbody tr:nth-child(2n) :last-child {
  color: red;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__oilChartContainer {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__oilChartContainer .oilInfoArea__oilCharttitle {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__oilChartContainer .oilInfoArea__oilCharttitle h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  background-color: #14BD7E;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  border-radius: 0.5vh;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__oilChartContainer .oilInfoArea__oilChartArea {
  width: 80%;
  margin: 0 auto;
  height: 65%;
  text-align: center;
  background-color: #ECECEC;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__oilChartContainer .oilInfoArea__oilChartArea .oilInfoArea__chartZone {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: baseline;
  align-items: flex-end;
  border-bottom: 0.2vh solid #000;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__oilChartContainer .oilInfoArea__oilChartArea .oilInfoArea__chartZone .oilInfoArea__chart {
  width: 10%;
  height: 100%;
  display: flex;
  transition: 0.5s;
  align-items: flex-end;
  justify-content: space-around;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__oilChartContainer .oilInfoArea__oilChartArea .oilInfoArea__chartZone .oilInfoArea__chart .oilInfoArea__averageChart {
  transition: 0.5s;
  background-color: #D9D9D9;
  width: 30%;
  height: 50%;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__oilChartContainer .oilInfoArea__oilChartArea .oilInfoArea__chartZone .oilInfoArea__chart .oilInfoArea__myChart {
  transition: 0.5s;
  background-color: #313132;
  width: 30%;
  height: 80%;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__oilChartContainer .oilInfoArea__oilChartArea .oilInfoArea__monthZone {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__contentArea .oilInfoArea__oilChartContainer .oilInfoArea__oilChartArea .oilInfoArea__monthZone span {
  font-weight: 600;
  font-size: 1rem;
  width: 10%;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__buttonArea {
  padding: 1vw 0;
  height: 10%;
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__buttonArea button {
  margin-left: 1vw;
  width: 10%;
  height: 50%;
  border-radius: 0.5vh;
  font-weight: 600;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__buttonArea .oilInfoArea__cancelBtn {
  color: #D5DDE6;
  background-color: #FAFAFB;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__buttonArea .oilInfoArea__cancelBtn:hover {
  outline: 0.2vh solid #D5DDE6;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__buttonArea .oilInfoArea__registerBtn {
  color: #fff;
  background-color: #14BD7E;
}
.oilInfoArea .oilInfoArea__background .oilInfoArea__buttonArea .oilInfoArea__registerBtn:hover {
  outline: 0.2vh solid #14BD7E;
}/*# sourceMappingURL=index.css.map */