/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, button {
    outline: none;
    border: none;
}

button {
    cursor: pointer;
}

/* nav bar */
.navbar {
    padding: 0 4vw;
    position: fixed;
    top: 0;
    width: 92vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    border-bottom: 0.2vh solid #2C2C2C;
    background-color: #14BD7E;
    z-index: 1000;

    & .navbar__logo {
        font-weight: 700;
        color: #ECECEC;
    }

    & .navbar__icons {
        & i {
            color: #ECECEC;
            padding: 0 1vw;
            cursor: pointer;
        }
    }
}

/* explain animation */
@keyframes fade01 {
    0% { opacity: 0.0; }
    4% { opacity: 0.25; }
    8% { opacity: 0.50; }
    12% { opacity: 0.75; }
    16% { opacity: 1.00; }
    20% { opacity: 0.75; }
    24% { opacity: 0.5; }
    28% { opacity: 0.25; }
    33% { opacity: 0.0; }
}

@keyframes fade02 {
    33% { opacity: 0.0; }
    37% { opacity: 0.25; }
    41% { opacity: 0.50; }
    45% { opacity: 0.75; }
    49% { opacity: 1.00; }
    54% { opacity: 0.75; }
    58% { opacity: 0.5; }
    62% { opacity: 0.25; }
    66% { opacity: 0.0; }
}

@keyframes fade03 {
    67% { opacity: 0.0; }
    73% { opacity: 0.25; }
    78% { opacity: 0.50; }
    83% { opacity: 0.75; }
    88% { opacity: 1.00; }
    91% { opacity: 0.75; }
    94% { opacity: 0.5; }
    97% { opacity: 0.25; }
    100% { opacity: 0.0; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    5% { opacity: 0.05; }
    10% { opacity: 0.1; }
    15% { opacity: 0.15; }
    20% { opacity: 0.2; }
    25% { opacity: 0.25; }
    30% { opacity: 0.3; }
    35% { opacity: 0.35; }
    40% { opacity: 0.4; }
    45% { opacity: 0.45; }
    50% { opacity: 0.5; }
    55% { opacity: 0.55; }
    60% { opacity: 0.6; }
    65% { opacity: 0.65; }
    70% { opacity: 0.7; }
    75% { opacity: 0.75; }
    80% { opacity: 0.8; }
    85% { opacity: 0.85; }
    90% { opacity: 0.9; }
    95% { opacity: 0.95; }
    100% { opacity: 1; }
}

/* main */
.main {
    height: 90vh;
    margin-top: 10vh;
    position: relative;

    & img.chatBotArea__img {
        transition: 0.5s;
        position: fixed;
        width: 3vw;
        cursor: pointer;
        color: #14BD7E;
        left: 2vw;
        bottom: 2vw;

        &:hover {
            bottom: 2.5vw;
        }
    }

    & .chatBotArea {
        transition: 1s;
        border-radius: 2vh;
        padding: 2vh;
        position: fixed;
        left: 2vw;
        bottom: 2vw;
        width: 30vw;
        height: 60vh;
        z-index: 1;
        opacity: 0;
        color: #ECECEC;
        background-color: #ECECEC;

        & .chatBotArea__profile {
            transition: 0.5;
            height: 5vh;
            margin: 0 0 1.5vh;
            padding: 0.5vh 0;
            transition: 0.5s;
            background-color: #14BD7E;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2vh;

            & img {
                transition: 0.5s;
                height: 5vh;
                margin-top: 0.5vh;

                &:hover {
                    margin-top: -1vh;
                }
            }

            & span {
                width: 90%;
                text-align: center;
                font-size: 1rem;
                font-weight: 600;
            }
        }

        & .chatBotArea__closeArea {
            padding: 0.75vh 1.5vw;
            height: 1.5vh;
            display: flex;
            justify-content: right;
            align-items: center;

            & .chatBotArea__closeBtn {
                position: absolute;
                width: 1vw;
                cursor: pointer;
                margin-bottom: 1vw;
                margin-right: -1vw;
                color: #14BD7E;
            }
        }

        & .chatBotArea__chat {
            margin: 1.5vh 0;
            padding: 0.5vh 1.5vw;
            height: 5vh;
            background-color: #14BD7E;
            display: flex;
            justify-content: left;
            align-items: center;
            border-radius: 2vh;

            & span {
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.2;
            }
        }
    }

    & section.explainArea#explainArea--1 {
        animation-duration: 15s;
        animation-name: fade01;
        animation-iteration-count: infinite;
        opacity: 0;

        & div.explainArea__text {
            position: absolute;
            top: 50vh;
            left: 25vw;
            transition: 1s;

            & h1 {
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 2vh;
            }

            & h2 {
                font-size: 1rem;
                font-weight: 500;
                color: #666666;
            }
        }

        & img.explainArea__phone {
            transition: 0.5s;
            position: absolute;
            height: 55vh;
            top: 30vh;
            right: 25vw;
        }
    }

    & section.explainArea#explainArea--2 {
        animation-duration: 15s;
        animation-name: fade02;
        animation-iteration-count: infinite;
        opacity: 0;

        & div.explainArea__text {
            position: absolute;
            top: 50vh;
            right: 25vw;
            transition: 1s;

            & h1 {
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 2vh;
            }

            & h2 {
                font-size: 1rem;
                font-weight: 500;
                color: #666666;
            }
        }

        & img.explainArea__phone {
            position: absolute;
            height: 55vh;
            top: 30vh;
            left: 25vw;
            transition: 0.5s;
        }
    }

    & section.explainArea#explainArea--3 {
        animation-duration: 15s;
        animation-name: fade03;
        animation-iteration-count: infinite;
        opacity: 0;

        & div.explainArea__text {
            position: absolute;
            top: 50vh;
            left: 25vw;
            transition: 1s;

            & h1 {
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 2vh;
            }

            & h2 {
                font-size: 1rem;
                font-weight: 500;
                color: #666666;
            }
        }

        & img.explainArea__phone {
            position: absolute;
            height: 55vh;
            top: 30vh;
            right: 25vw;
            transition: 0.5s;
        }
    }
}

/* search bar */
.searchBar {
    padding: 3vh 0;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.2vh solid #eeeeee;

    & .searchBar__left {
        width: 45vw;
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #14BD7E;
        cursor: pointer;

        &:hover {
            & img {
                margin-bottom: 5.2vh;
            }
        }

        & img {
            transition: 0.5s;
            margin-bottom: 4vh;
            width: 2.5vw;
        }

        & h1 {
            font-size: 1.5rem;
            font-weight: 600;
            color: #ECECEC;
        }
    }

    & .searchBar__right {
        width: 45vw;
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #14BD7E;
        cursor: pointer;

        &:hover {
            & img {
                margin-bottom: 5.2vh;
            }
        }

        & img {
            transition: 0.5s;
            margin-bottom: 4vh;
            width: 4vw;
        }

        & h1 {
            font-size: 1.5rem;
            font-weight: 600;
            color: #ECECEC;
        }
    }
}

/* login Area */
.loginArea {
    opacity: 0;
    animation-duration: 1s;
    animation-name: fadeIn;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    & .loginArea__backGround {
        background-color: #FCFCFE;
        height: 100%;
        width: 20%;
        margin: 0 auto;

        & .loginArea__frame {
            height: 50%;
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            color: #01C787;

            & h1 {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3.5rem;
                color: #01C787;
                font-weight: 700;
                margin: 2vh 0 5vh 0;
                
            }

            & input {
                color: #01C787;
                background-color: #ECECEC;
                font-size: 1.2rem;
                text-align: center;
                padding: 2vh 0;
                font-weight: 600;

                &::placeholder {
                    color: #01C787;
                }
            }

            & button {
                padding: 2vh 0;
                color: #ECECEC;
                background-color: #01C787;
                font-size: 1.2rem;
                font-weight: 600;
            }

            & label {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                & span {
                    font-size: 1.2rem;
                    color: #B6B2B2;
                    font-weight: 500;
                    flex-grow: 2;
                }

                & button {
                    color: #01C787;
                    background-color: rgba(0, 0, 0, 0);
                    flex-grow: 8;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

/* register Area */
.registerArea {
    opacity: 0;
    animation-duration: 1s;
    animation-name: fadeIn;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    & .registerArea__backGround {
        background-color: #FCFCFE;
        height: 100%;
        width: 20%;
        margin: 0 auto;

        & .registerArea__frame {
            height: 70%;
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            color: #01C787;

            & .registerArea__TermOfUse {
                background-color: #fff;
                color: #000;
                height: 20%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                & h2 {
                    font-size: 1.5rem;
                    font-weight: 600;
                }

                & .registerArea__TermOfUseBox {
                    border: 0.2vh solid black;
                    font-size: 0.8rem;
                    padding: 0.5vh 0.5vw;
                }
            }

            & h1 {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3.5rem;
                color: #01C787;
                font-weight: 700;
                margin: 2vh 0 5vh 0;
                
            }

            & .registerArea__dropDownArea {
                display: flex;
                justify-content: space-between;

                & select {
                    font-weight: 600;
                    border: none;
                    padding: 2vh 0;
                    font-size: 1.1rem;
                    width: 45%;
                    background-color: #01C787;
                    color: #ECECEC;
                    appearance: none;
                    cursor: pointer;
                    text-align: center;

                    &:focus {
                        outline: none;
                    }
                }
            }

            & .registerArea__IDArea {
                display: flex;
                justify-content: space-between;
                width: 100%;

                & button {
                    padding: 2vh 0.5vw;
                    color: #ECECEC;
                    background-color: #01C787;
                    font-size: 1rem;
                    font-weight: 600;
                }
            }

            & input {
                color: #01C787;
                background-color: #ECECEC;
                font-size: 1.2rem;
                text-align: center;
                padding: 2vh 0;
                font-weight: 600;

                &::placeholder {
                    color: #01C787;
                }
            }

            & button {
                padding: 2vh 0;
                color: #ECECEC;
                background-color: #01C787;
                font-size: 1.2rem;
                font-weight: 600;
            }

            & label {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                & span {
                    font-size: 1.2rem;
                    color: #B6B2B2;
                    font-weight: 500;
                    flex-grow: 2;
                }

                & button {
                    color: #01C787;
                    background-color: rgba(0, 0, 0, 0);
                    flex-grow: 8;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

/* myPage Area */
.myPageArea {
    width: 65%;
    height: 100%;
    margin: 0 auto;

    & .myPageArea__tabArea {
        height: 10%;
        width: 100%;
        display: flex;

        & .myPageArea__tab {
            width: 15%;
            height: 100%;
            border-radius: 2vh 2vh 0 0;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #14BD7E;
            color: #fff;
            border: 0.001vh solid #ECECEC;
            font-weight: 500;
            cursor: pointer;

            & span {
                font-size: 1.2rem;
                font-weight: 600;
            }
        }

        & .myPageArea__choosedTab {
            width: 20%;
            height: 100%;
            color: #000;
            background-color: #fff;
            box-shadow: 0vh -0.5vh 0.2vh 0 #F5F5F5;
        }
    }

    & .myPageArea__contentArea {
        height: 90%;
        width: 100%;
        background-color: #90EE90;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        & .myPageArea__profileTitle {
            width: 80%;
            height: 20%;
            background-color: #fff;
        }

        & .myPageArea__profileContent {
            width: 80%;
            height: 48%;
            background-color: #fff;
        }

        & .myPageArea__profileBtnArea {
            width: 80%;
            height: 5%;
            display: flex;
            justify-content: flex-end;
            padding: 1vh 0;

            & .myPageArea_btns {
                display: flex;
                justify-content: space-around;
                padding: 1vh 0;
                width: 25%;
                height: 100%;
                background-color: #fff;
                
                & button {
                    margin: 0 0.5vw;
                    height: 100%;
                    width: 49%;
                }
            }
        }

        & .myPageArea__oilInfoTitle {
            width: 80%;
            height: 20%;
            background-color: #fff;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 1vw;

            & h1 {
                font-size: 2rem;
                font-weight: 700;
            }

            & img {
                margin-right: 1vw;
                width: 1.8vw;
            }
        }

        & .myPageArea__oilInfoContent {
            width: 100%;
            display: flex;
            justify-content: center;
            width: 80%;
            height: 48%;
            padding: 1vh 1vw;
            background-color: #ECECEC;

            & .myPageArea__oilInputBox {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 50%;
                height: 100%;
                background-color: red;
                padding: 0 1vw;

                & input {
                    width: 100%;
                    height: 10%;
                    margin-bottom: 3vh;
                    text-align: center;
                }
            }

            & .myPageArea__oilEffectBox {
                width: 50%;
                height: 100%;
                background-color: blue;
            }
        }

        & .myPageArea__oilInfoBtnArea {
            width: 80%;
            height: 5%;
            display: flex;
            justify-content: flex-end;
            padding: 1vh 0;

            & .myPageArea_btns {
                display: flex;
                justify-content: space-around;
                padding: 1vh 0;
                width: 25%;
                height: 100%;
                background-color: #fff;
                
                & button {
                    margin: 0 0.5vw;
                    height: 100%;
                    width: 49%;
                }
            }
        }
    }
}